{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Daniel Salifu Samura</title>
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100  border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/daniel.png' %}">
                    <hr>
                    <h5>Hi I'm Daniel Salifu Samura!</h4>
                        <p style="text-align: center;">Project Management & Software Engineering</p>
                        <p style="text-align: center;">Sierra Leone, West Africa</p>
                        <!-- <ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul> -->
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100  border-info">
                    <h4>PROFILE</h4>
                    <hr>
                    <p>I am a trained and result-driven Information Technology (IT) professional with experience in: (i) Computer Programming;
                    (ii) Software Engineering; (iii) Computer Networking; (iv) Data Management; (v) Computer Administration and
                    Troubleshooting; (vi)Web Technology; (vii) Project management and Administration. I have been extensively engaged in IT
                    capacity building programmes involving government and private organisations.</p>

                    <hr>
                    <p style="text-align: left;">5d.salifu@ubuntuafrika.com, danisamura@gmail.com, danielsamura1@unimak.edu.sl </p>
                    <p style="text-align: left;">+23278668215</p>

                </div>
            </div>
        </div>
        <br>


        <div class="row">
            <!-- <div class="col-md-7"> -->
            <div class="card card-body h-100 border-success">
                <h5>Languages</h5>
                <hr>
                <ul>
                    <li>Krio</li>
                    <li>English</li>
                </ul>
            </div>
        </div>
        <br>

<div class="row">
    <!-- <div class="col-md-7"> -->
    <div class="card card-body h-100 border-success">
        <h5>Working Experience</h5>
        <hr>
        <p style="color:blue; text-align:left "><b>Project Coordinator at UBUNTU Afrika <span style="float: right;">September 2018 - Present</span></b></p>
        <p>Icurrently serve as the Project Coordinator of UBUNTU Afrika Foundation-Sierra Leone office, a project that
            empower youth
            with the effective use of Information Technology to promote entrepreneurship and social development in
            Sierra Leone.</p>

        <h6>Accomplishments:</h6>
        <ul class="b">
            <li>Completed Postgraduate training in IT for ten beneficiaries</li>
            <li>Established an ICT company in Sierra Leone</li>
            <li>Provide funding for the rehabilitations of schools in Kabala.</li>
        </ul>
        <hr>

        <p style="color: blue; text-align:left "><b>Founder and CEO at LINK Corporation Limited Sierra Leone <span style="float: right;">June 2017 - Present</span> </b></p>
        <p>I am the Founder and CEO of LINK Corporation, an Information Technology start-up company, specializing in
            data
            management, website design , computer installation and repairs, database development, software development,
            mobile
            surveys, computer networking and Microsoft office packages training.</p>

        <h6>Accomplishments:</h6>
        <ul class="b">
            <li>Developed a website for Gamaliel Christian College, Action for Advocacy and Development-SL (Local NGO),
                Bombali-District
                Health Management Team</li>
            <li>Developed a Mobile Data Collection Tool for KADDRO and Surveillance Mobile collection and monitoring
                system for Bombali
                DHMT</li>
            <li>Facilitated MS-Excel training for Christian Health Associations Sierra Leone in January 2020</li>
            <li>Facilitated Data Management training for governments MDAs in Makeni and Action for Advocacy and
                Development-SL (Local
                NGO)</li>
            <li>Facilitate Microsoft Office Packages training for SiLNoRF (Network of Local NGO’s in Sierra Leone) 2017
            </li>
            <li>Facilitated a Free Summer ICT training sessions for college/secondary school students in in 2015</li>
            <li>Installed an internet network service for BUYAS hotel-Makeni in 2015</li>
            <li>Enters and process the Benevolent Islamic Secondary School Makeni 2016/2017 academic year school results
                in 2015.</li>
        </ul>
        <hr>
        <p style="color:blue; text-align:left "><b>Research Teaching Assistant at University of Makeni <span style="float: right;">October 2015 - Present</span></p> </b>
        <p>I am employed as a Research Teaching Assistant with the responsibility of mentoring and assisting students
            and senior
            Lecturers in all Information Technology programs. Worked on various Information Technology projects for the
            university
            as well as partake in research for the faculty.</p>
        <h6>Accomplishments:</h6>
        <ul class="b">
            <li>Developed a responsive website for the faculty</li>
            <li>Coordinated an On Campus Internship Program (OCIP) for student</li>
            <li>Established an electronic research platform for staff and students</li>
            <li> Maintain lecturer time sheets and supervise the academic quality of classes</li>
            <li>Ensure that all students and employees in the department comply with University policies and procedures.
            </li>
        </ul>
        <hr>

        <p style="color:blue; text-align:left "><b>Clinical Data Manager at Family Health International-360 <span style="float: right;">May 2015 - February 2016</span></p></b>
        <p>Work with a large international team of Clinical Research Professionals on collecting, reviewing, entering
            and filing of
            study participant clinical data in the United States Centre for Disease and Control-EBOLA vaccine trial in
            Sierra Leone.</p>

        <h6>Accomplishments:</h6>
        <ul class="b">
            <li>Entered and review over 1000 study participant files.</li>
            <li>Coordinated the review and processing of safety data and data anomalies and Adverse Events (AEs).</li>
            <li>Provide support for the filling and archiving of study participant files.</li>
        </ul>
        <hr>

        <p style="color:blue; text-align:left "><b>Assistant Data Manager at District Ebola Response Centre <span style="float: right;">October 2014 - April 2015</span></p></b>
        <p>Responsible for the administration of the Ebola response database infrastructure and provide technical
            support as well
            as specialist technical input.</p>

        <h6>Accomplishments:</h6>
        <ul class="b">
            <li>Installed and administered databases for the Ebola response out-break.</li>
            <li>Designed a network system of communication for pillars in the response.</li>
            <li>Setup a logging software system that captures alert calls and surveillance data from the public.</li>
            <li>Provide troubleshooting and configuration support for client desktop, laptop and network infrastructure.
            </li>
        </ul>
    </div>
</div>
<br>

        <div class="row">
            <!-- <div class="col-md-6"> -->
                <div class="card card-body h-100 border-success">
                    <h5>Education Background</h5>
                    <hr>
                    <p style="color:blue; text-align:left "><b>UNIMAK-UBUNTU, Sierra Leone-Spain <span style="float: right;">2019</span></p></b>
                    Postgraduate Diploma in Web Application Development
                    <hr>
                    <p style="color:blue; text-align:left "><b>UDEMY Online Training Platform <span style="float: right;">2019</span></p></b>
                    Certificate of Completion in Gradle, SpringFramework, Angular 7 and Spring- Boot2
                    <hr>
                    <p style="color:blue; text-align:left "><b>UDEMY Online Training Platform <span style="float: right;">2018</span></p></b>
                    Certificate of Completion in Java, MySQL and Git and GitHub.
                    <hr>
                    <p style="color:blue; text-align:left "><b>Huawei Academy, China <span style="float: right;">2018</span> </p></b>
                    Certificate in ICT Application in Higher Education
                    <hr>
                    <p style="color:blue; text-align:left "><b>Africa Union (ASEOWA), Sierra Leone <span style="float: right;">2015</span></p></b>
                    Certificate in Data management
                    <hr>
                    <p style="color:blue; text-align:left "><b>Centre for Disease and Control (CDC-USA), Sierra Leone <span style="float: right;">2015</span></p></b>
                    Certificate in Data Management

                    <hr>
                    <p style="color:blue; text-align:left"><b>University of Makeni, Sierra Leone <span style="float: right;">2010 - 2014</span></p></b>
                    Bachelors of Science in Information Technology

                </div>
            </div>


        <br>
   

        <div class="card card-body h-100 border-success">
            <h5>Experience Skills</h5>
            <hr>
            <ul class="dan">
                <li>Windows 7/8/10</li>
                <li>Chrome OS and Android OS</li>
                <li>Microsoft Office Packages (Word, Excel, Outlook, PowerPoint, Publisher and Office365)</li>
                <li> SQL and MySQL</li>
                <li>Open Data Kit; SurveyCTO</li>
                <li>Java, HTML5, CSS, PHP, Gradle, Git, GitHub, Angular 7</li>
            </ul>
        </div>
    <!-- </div> -->
<br>

<div class="card card-body h-100 border-info">
    <h5>My Social Links</h5>
    <hr>
    <ul class="social-links">
        <li><a href="#" target="_blank"><img class="social"src="{% static 'images/facebook.png' %}"></li></a>
        <li><a href="#" target="_blank"><img class="social"src="{% static 'images/linkedin.png' %}"></li></a>
        <li><a href="#" target="_blank"><img class="social"src="{% static 'images/twitter.png' %}"></li></a>
        <li><a href="#" target="_blank"><img class="social" src="{% static 'images/youtube.png' %}"></li></a>
    </ul>
</div>
</div>


</body>
</html>
















